* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
}

:root {
  --primary: #5bc0de;  /* سماوي فاتح */
  --dark: #222;
  --light: #c1dae4;
}

body {
  background: var(--light);
  color: var(--dark);
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgb(249, 249, 250);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);
}

.navbar a {
  margin: 0 15px;
  color: var(--dark);
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--primary);
}

.btn {
  background: var(--primary);
  color: rgb(255, 254, 254);
  padding: 8px 16px;
  border-radius: 5px;
}

/* Sections */
section {
  padding: 80px 60px;
}

h2 {
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 20px;
}

/* Projects */
.project-card {
  background: rgb(210, 238, 243);
  padding: 20px;
  border-left: 4px solid var(--primary);
  margin-bottom: 15px;
  border-radius: 8px;
}

/* Skills */
.skills ul {
  list-style: none;
}

.skills li {
  background: rgb(29, 18, 18);
  padding: 10px;
  margin: 8px 0;
  border-left: 4px solid var(--primary);
  border-radius: 5px;
}

/* Contact */
.contact a {
  color: var(--primary);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: var(--dark);
  color: rgb(255, 255, 255);
}

/* Responsive Menu */
#bx-menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--dark);
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 70px;
    right: -100%;
    background: rgb(183, 176, 180);
    flex-direction: column;
    width: 200px;
    text-align: center;
    transition: 0.3s;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  .navbar.active {
    right: 0;
  }

  #bx-menu-icon {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 15px 0;
  }
}
